node_modules/
**/node_modules
public/
build/
/dist/**
/dist/static/**

/.git
/.vscode

server.js
.env
.env.example
.env.test
.env.production
webpack.config.js
webpack.dev.js
webpack.prod.js
devserver.js
scripts/**
config/**